.menu {
    width: 296px;
    padding: 40px 0;
    min-height: 100vh;
    .menu-logo {
        width: 150px;
        height: 40px;
        background: url("../images/logo-ANSWER.svg") no-repeat center;
    }
}