<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
  <body>
    <div class="d-flex">
      <nav class="menu d-flex flex-column bg-light">
        <h1 class="menu-logo mb-4 ml-4"></h1>
        <ul class="nav flex-column" id="nav">
          <li class="mb-4">
            <a href="#" class="d-flex fw-bold pl-4" aria-current="page">
              <span class="material-icons me-3">analytics</span>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="d-flex fw-bold pl-4">
              <span class="material-icons me-3">question_answer</span>
              <p>Question</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="index.html" class="d-flex fw-bold link-success pl-4">
              <span class="material-icons me-3">assignment</span>
              <p>Assignment</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="d-flex fw-bold pl-4">
              <span class="material-icons me-3">shop_two</span>
              <p>Course</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="d-flex fw-bold pl-4">
              <span class="material-icons me-3">people</span>
              <p>Admin</p>
            </a>
          </li>
          <li class="mb-4">
            <a href="#" class="d-flex fw-bold pl-4">
              <span class="material-icons me-3">settings</span>
              <p>Settings</p>
            </a>
          </li>
        </ul>
        <div class="d-flex ml-5 me-3 mt-auto">
          <img src="./assets/images/andychen.jpeg" alt="andychen" class="profile-img me-3">
          <div>
            <p class="fw-bold">Andy Chen</p>
            <p class="fns-2">andy0401@mail.com</p>
          </div>
        </div>
      </nav>
      <div class="content">
        <%- contents %>
      </div>
    </div>
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous">
    </script>
  </body>
</html>