.hr {
    border-bottom: 1px solid $border-gray;
}
.ml {
    &-4 {
        margin-left: $spacing * 4;
    }
    &-5 {
        margin-left: $spacing * 5;
    }
}

.pl {
    &-4 {
        padding-left: $spacing * 4;
    }
}

.fns {    
    &-1 {
        font-size: $font-s * 1.5;
    }
    &-2 {
        font-size: $font-s * 1.75;
    }
    &-3 {
        font-size: $font-s * 2;
    }
    &-4 {
        font-size: $font-s * 3;
    }
}